.normale {
  background-color: rgb(154, 154, 154);
  color: white;

}

.erba {
  background-color: green;
  color: white
}

.fuoco {
  background-color: rgb(255, 38, 0);
  color: white
}

.acqua {
  background-color: rgba(0, 199, 199, 0.675);
  color: white
}

.elettro {
  background-color: rgb(192, 192, 0);
  color: white
}

.ghiaccio {
  background-color: skyblue;
  color: white
}

.lotta {
  background-color: rgba(208, 108, 108, 0.349);
  color: white
}

.veleno {
  background-color: purple;
  color: white
}

.terra {
  background-color: rgb(153, 88, 3);
  color: white
}

.volante {
  background-color: rgba(108, 234, 225, 0.619);
  color: white
}

.psico {
  background-color: rgb(203, 43, 117);
  color: white
}

.coleottero {
  background-color: rgb(125, 234, 0);
  color: white
}

.roccia {
  background-color: rgb(180, 150, 93);
  color: white
}

.spettro {
  background-color: rgb(73, 2, 120);
  color: white
}

.drago {
  background-color: rgb(5, 0, 107);
  color: white
}

.buio {
  background-color: rgb(26, 26, 26);
  color: white
}

.acciaio {
  background-color: rgb(79, 79, 79);
  color: white
}



.input-group {
  width: 400px;
  font-family: Arial;
}

input::-webkit-inner-spin-button {
  display: none;
}

#titolo {
  width: 500px;
  margin-top: 15px
}

#contenitore {
  background-color: brown;
  height: 240px;
}

.input-group-text {
  width: 100px;
}

.form-control {
  width: 500px;
}

#pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-sprite {
  max-width: 50px;
}

.card {
  width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 2vw;
  cursor: pointer;
  padding: 1vw;
}

.card img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card h3 {
  margin-top: 10px;
}

.card:hover {
  background-color: whitesmoke;
}


.type-btn {
  width: 10vw;
  border-radius: 2vw;
  border: none;
  height: 5vh;
  width: 8vw;
}

.type-btn:hover {
  background-color: inherit !important;
  color: inherit !important;
  box-shadow: none !important;
  transform: none !important;
}


.cont {
  background-color: brown;
  height: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  overflow-y: hidden;
  padding: 1vw;
  gap: 0.5vw;
}



.contRicerca {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  margin-top: 10vh;
}

@media screen and (max-width:600px) {

  #titolo {
    width: 92vw;
    margin-top: 5vh;
    height: auto;
  }

  .cont {
    height: 10vh;
    overflow-x: scroll;
    background-color: brown;
  }

  .type-btn {
    width: 20vw;
    align-items: center;
    display: flex;

  }





}